Nostr_Push_Notify_If_Mentioned.json
{
  "name": "Nostr Push Notify If Mentioned v1.1",
  "nodes": [
    {
      "parameters": {},
      "id": "370dee54-b804-4791-963b-333656c0014e",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 1268.376604415295]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "795c3654-7c83-4a66-b562-d3600f74be2d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 1088.376604415295]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "402b5cc0-0a6c-457a-9389-e734bc7475b6",
              "name": "ownerPushoverUserKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "09466e7e-dd38-4c48-9061-f6fec8c1f8cf",
              "name": "relays",
              "value": "wss://relay.damus.io, wss://nostrelites.org, wss://relay.nostr.band",
              "type": "string"
            },
            {
              "id": "34161494-2029-422a-ba7b-fd1511f22623",
              "name": "listEventID",
              "value": "d8e0d6c5b30eac8d28db24c0474a74b02e963f246550641e74d46f473d8ab446",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "834a05e2-c9bf-4f86-8da6-7433e60cddde",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-180, 1088.376604415295]
    },
    {
      "parameters": {},
      "id": "962c683b-c7d6-4dcd-a642-59dc6dfff301",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2580, 1348.376604415295],
      "webhookId": "1ec0052d-dda2-4844-b122-4bfc9f243674"
    },
    {
      "parameters": {},
      "id": "bb8a2acb-ad8a-4c13-a0b9-f5f1008775e4",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2360, 1348.376604415295]
    },
    {
      "parameters": {
        "userKey": "={{ $('Set Variables').first().json.ownerPushoverUserKey }}",
        "message": "={{ $('Is Mentioning Self?').item.json.content }}",
        "priority": 0,
        "additionalFields": {
          "title": "=Mention for {{ $('Merge').item.json.displayName }}",
          "url": "=nostr:{{ $json.nevent }}"
        }
      },
      "id": "b88ec484-539d-49e1-9de5-f652a681b25c",
      "name": "Push Notify",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [2580, 1088.376604415295]
    },
    {
      "parameters": {},
      "id": "8334ceab-db61-43a9-96d5-43daf39b0434",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2580, 1588.376604415295]
    },
    {
      "parameters": {
        "strategy": "mention",
        "mention": "={{ $('Merge').item.json.pubkey }}",
        "from": 10.1,
        "unit": "minute",
        "relay": "={{ $('Set Variables').first().json.relays }}"
      },
      "id": "94fafee4-72f4-4269-8e46-f952920440a4",
      "name": "Read Mentions",
      "type": "n8n-nodes-nostrobots.nostrobotsread",
      "typeVersion": 1,
      "position": [1680, 1088.376604415295],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Nostr Push Notifications when Listed Users are Mentioned\n\nThis workflow sends a push notification in Pushover if any of the listed users are Mentioned on Nostr –\n\n- We define pubkeys in a Nostr List (kind:30000),\n- If a pubkey in that list is Mentioned in a Note,\n- We push a notification into Pushover,\n- We run this workflow periodically or if triggered.\n\n## Requirements\n\nTo use this workflow we need –\n\n- [Nostrobots Community Nodes](https://github.com/ocknamo/n8n-nodes-nostrobots/tree/main), by [Ocknamo](https://njump.me/npub1y6aja0kkc4fdvuxgqjcdv4fx0v7xv2epuqnddey2eyaxquznp9vq0tp75l), \n- A kind 30000 list of pubkeys published to the Nostr network (you can create and publish this with [listr.lol](https://listr.lol) or any other client that supports lists. (E.g. An example \"Notify If Mentioned\" list which you can view in [listr.lol](https://listr.lol/npub1r0d8u8mnj6769500nypnm28a9hpk9qg8jr0ehe30tygr3wuhcnvs4rfsft/30000/naddr1qvzqqqr4xqpzqx760c0h894a5tg7lxgr8k506twrv2qs0yxln0nz7kgs8zae03xeqy2hwumn8ghj7un9d3shjtnyv9kh2uewd9hj7qghwaehxw309aex2mrp0yhxummnw3ezucnpdejz7qghwaehxw309aex2mrp0yh8qunfd4skctnwv46z7qg4waehxw309aex2mrp0yhxgctdw4eju6t09uq3wamnwvaz7tmjv4kxz7fwdehhxarj9e3xzmny9uqz5mrfwd68ytfevf3r2vnyvsmz6ef389nz6dpnxd3z6cfcxajz6ct9xa3xyefcvgmrjerp4rqr8f) or [njump.me](https://njump.me/naddr1qvzqqqr4xqpzqx760c0h894a5tg7lxgr8k506twrv2qs0yxln0nz7kgs8zae03xeqy2hwumn8ghj7un9d3shjtnyv9kh2uewd9hj7qghwaehxw309aex2mrp0yhxummnw3ezucnpdejz7qghwaehxw309aex2mrp0yh8qunfd4skctnwv46z7qg4waehxw309aex2mrp0yhxgctdw4eju6t09uq3wamnwvaz7tmjv4kxz7fwdehhxarj9e3xzmny9uqz5mrfwd68ytfevf3r2vnyvsmz6ef389nz6dpnxd3z6cfcxajz6ct9xa3xyefcvgmrjerp4rqr8f)),\n- A [Pushover](https://pushover.net/) account with an Application for your Nostr notifications,\n- Credentials for N8N: Pushover Application Key,\n- Workflow variables set in the Set Variables Node: Pushover User Key, Relays, The Nostr eventID of your List.\n\n## In use\n\nEach time this workflow runs it queries your list of pubkeys to get the latest pubkeys that you have chosen, and then if any of those pubkeys have a valid mention it push notifies you that note. To adjust which pubkeys give you notifications, publish an update to your list of pubkeys or replace the list in your \"Set Variables\" note with a new list. \n",
        "height": 996.4525538018894,
        "width": 883.2552128537732,
        "color": 6
      },
      "id": "2dc05a5c-04dd-402d-9e0b-9185a1bebbf7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-460, 460.5185345900602]
    },
    {
      "parameters": {
        "content": "## Check Each Pubkey for a Valid Mention and Notify if Found\n\nFor each pubkey we run the loop, \n\n- read all mentions of that pubkey, \n- check if mentions exist,\n- check if the mention is the pubkey mentioning itself, exclude those,\n- create a useful nevent link for use with nostr: prefix,\n- push notify the event text with a nostr: link to the nevent. \n- pause between iterations so as not to hit relay rate-limits.",
        "height": 947.8540203558861,
        "width": 2310.4632265925343
      },
      "id": "560a1b74-7eda-41e8-af79-69bf829bb126",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 814.2145529742161]
    },
    {
      "parameters": {
        "convertOutput": "nevent",
        "event": "={\n  \"id\": \"{{ $json.id }}\",\n  \"pubkey\": \"{{ $json.pubkey }}\",\n  \"created_at\": {{ $json.created_at }},\n  \"content\": \"\"\n}",
        "relayhints": "={{ $('Set Variables').first().json.relays }}"
      },
      "id": "58ac72da-d940-4c36-995d-27689997f2db",
      "name": "Transform ID to Nevent",
      "type": "n8n-nodes-nostrobots.nostrobotsutils",
      "typeVersion": 1,
      "position": [2360, 1088.376604415295]
    },
    {
      "parameters": {
        "strategy": "eventid",
        "eventid": "={{ $json.listEventID }}",
        "relay": "={{ $json.relays }}"
      },
      "id": "25cd1b93-e549-4e72-bba1-c2b0a0adfa65",
      "name": "Get Pubkeys from List",
      "type": "n8n-nodes-nostrobots.nostrobotsread",
      "typeVersion": 1,
      "position": [40, 1088.376604415295],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return $json.tags\n    .filter(tag => tag[0] === \"p\")\n    .map(tag => {\n        return { pubkey: tag[1] };\n    });"
      },
      "id": "337a7626-6dce-4ee6-a1c1-048a90a939e6",
      "name": "Split Out Pubkeys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 1088.376604415295]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "922452a8-c75f-4e8e-a0da-7b50db84321f",
      "name": "Loop Over Pubkeys",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [540, 1088.376604415295]
    },
    {
      "parameters": {
        "content": "## Initial Pushover Setup\n\n1. In Pushover register an Account, add your devices (e.g. your phone), and set up an Application (e.g. \"Nostr Notifications\"),\n2. Add the Pushover Application Key to your n8n Credentials,\n3. Add the Pushover User Key to the Set Variables Node at the Startup of the Workflow,\n4. You can configure the Application can have an icon and you can use this one – \n\n![Nostr Icon](https://pushover.net/icons/b5vpp7tytjiw5k8.png)",
        "height": 321.8380138744974,
        "width": 615.8801950827736,
        "color": 5
      },
      "id": "f1ddf391-a4c1-4cca-91ec-f7abbd283c32",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab21427e-edd7-4069-8433-2073515b8c0f",
              "leftValue": "={{ $json.pubkey }}",
              "rightValue": "={{ $('Merge').item.json.pubkey }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b246aff6-8ccb-45a0-ac94-a61148b3e90b",
      "name": "Is Mentioning Self?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2120, 1088.376604415295]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "357acad2-ae69-4f8c-81a9-524c822ae8c4",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e5ce228-3fbf-413d-a6d9-c017ff051456",
      "name": "Do Mentions Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1900, 1088.376604415295]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fedf404-a4f7-46e7-ae62-07e2aad72b4f",
              "name": "displayName",
              "value": "={{ JSON.parse($json[\"content\"]).display_name || JSON.parse($json[\"content\"]).name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "displayName, pubkey",
        "options": {}
      },
      "id": "d2ee724c-e21c-489c-87dd-383aeffc186a",
      "name": "Extract displayName",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1220, 1288.376604415295]
    },
    {
      "parameters": {
        "strategy": "rawFilter",
        "rawFilter": "={\n  \"kinds\":[0],\n  \"authors\":[\"{{ $json.pubkey }}\"]\n} ",
        "from": 365,
        "relay": "=wss://purplepag.es,{{ $('Set Variables').first().json.relays }}"
      },
      "id": "f7840008-07c7-46a4-a510-adc58be3c6f5",
      "name": "Read Profiles",
      "type": "n8n-nodes-nostrobots.nostrobotsread",
      "typeVersion": 1,
      "position": [780, 1288.376604415295]
    },
    {
      "parameters": {
        "jsCode": "// Input: Array of events\nconst events = items.map(item => item.json);\n\n// Group events by pubkey and select the latest event for each pubkey\nconst latestEvents = Object.values(\n  events.reduce((acc, event) => {\n    const pubkey = event.pubkey;\n    if (!acc[pubkey] || acc[pubkey].created_at < event.created_at) {\n      acc[pubkey] = event;\n    }\n    return acc;\n  }, {})\n);\n\n// Convert the latest events into the n8n output format\nreturn latestEvents.map(event => ({ json: event }));\n"
      },
      "id": "06e70bfe-fb33-4803-9927-73ca96242913",
      "name": "Filter Latest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 1288.376604415295]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pubkey",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "8b24b5a3-747b-400d-ad5e-fb6697d90c25",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1440, 1088.376604415295]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Pubkeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Complete": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Notify": {
      "main": [
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Mentions": {
      "main": [
        [
          {
            "node": "Do Mentions Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get Pubkeys from List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pubkeys from List": {
      "main": [
        [
          {
            "node": "Split Out Pubkeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Pubkeys": {
      "main": [
        [
          {
            "node": "Loop Over Pubkeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Pubkeys": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Profiles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Mentioning Self?": {
      "main": [
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform ID to Nevent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Mentions Exist?": {
      "main": [
        [
          {
            "node": "Is Mentioning Self?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract displayName": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Profiles": {
      "main": [
        [
          {
            "node": "Filter Latest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Latest": {
      "main": [
        [
          {
            "node": "Extract displayName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform ID to Nevent": {
      "main": [
        [
          {
            "node": "Push Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "495ca247-5d29-4fc5-b215-1a4404c9009a",
  "meta": {
    "instanceId": "ccba4d051fa49b8de562911d1fd956f10bf11fa96365b82f0a8ade5091902b75"
  },
  "id": "uV4ziWmkXwrGAJaF",
  "tags": []
}
