Working/Nostr_Push_Notify_Follow_v0_2___Jonny_Posted.json
{
  "name": "Nostr Push Notify Follow v0.2 – Jonny Posted",
  "nodes": [
    {
      "parameters": {},
      "id": "b59845b9-a711-4f09-89a0-1ede62713f84",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        860,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "cf049181-77aa-4758-ae21-42718e3ef484",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faf5f1ec-8992-4984-8002-c9b379284787",
              "name": "followNpub",
              "value": "npub1ahjpx53ewavp23g5zj9jgyfrpr8djmgjzg5mpe4xd0z69dqvq0kq2lf353",
              "type": "string"
            },
            {
              "id": "09466e7e-dd38-4c48-9061-f6fec8c1f8cf",
              "name": "followName",
              "value": "@Jonny (AI Assistant)",
              "type": "string"
            },
            {
              "id": "acbd2764-2feb-4a60-ae74-ef61349ffcad",
              "name": "relays",
              "value": "wss://relay.damus.io,wss://relay.primal.net,wss://relay.nostr.band,wss://relay.nostrplebs.com,wss://nostr-01.yakihonne.com,wss://nostr-02.yakihonne.com",
              "type": "string"
            },
            {
              "id": "5c51e262-77f3-4027-bd44-5b21c6e9b8a0",
              "name": "ownerPushoverUserKey",
              "value": "uczzjn1g5mah35kmxg98vnb19qc1fj",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "091212ee-04bd-4888-b471-febd32b54814",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "userKey": "={{ $('Set Variables').item.json.ownerPushoverUserKey }}",
        "message": "={{ $('Read Follow Notes').item.json.content }}",
        "priority": 0,
        "additionalFields": {
          "title": "=New Note from {{ $('Set Variables').item.json.followName }}",
          "url": "=nostr:{{ $json.nevent }}"
        }
      },
      "id": "9040cebb-a9f7-4c59-b887-46e5d666aade",
      "name": "Push Notify",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1740,
        320
      ],
      "credentials": {
        "pushoverApi": {
          "id": "xr7fQBwzRU3vhSAO",
          "name": "Pushover App Nostr @rodbishop"
        }
      }
    },
    {
      "parameters": {
        "pubkey": "={{ $('Set Variables').item.json.followNpub }}",
        "from": 10.1,
        "unit": "minute",
        "relay": "={{ $('Set Variables').item.json.relays }}"
      },
      "id": "b1e65f4f-12f0-4ca5-80cd-4b9f43d7e786",
      "name": "Read Follow Notes",
      "type": "n8n-nodes-nostrobots.nostrobotsread",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "convertOutput": "nevent",
        "event": "={\n  \"id\": \"{{ $('Read Follow Notes').item.json.id }}\",\n  \"pubkey\": \"{{ $('Read Follow Notes').item.json.pubkey }}\",\n  \"created_at\": {{ $json.created_at }},\n  \"content\": \"\"\n} "
      },
      "id": "5118da20-66fd-4179-a08b-91e74d5e30c8",
      "name": "Transform ID to nevent",
      "type": "n8n-nodes-nostrobots.nostrobotsutils",
      "typeVersion": 1,
      "position": [
        1520,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Read Follow Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Follow Notes": {
      "main": [
        [
          {
            "node": "Transform ID to nevent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform ID to nevent": {
      "main": [
        [
          {
            "node": "Push Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c09ec04c-2851-4deb-a39e-a6d2eb9761d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116b49d6f3394f8a5d690ef016c12ee9efff737700b050bfcafac43155fb279c"
  },
  "id": "8SA9m7kcHHfsiFmC",
  "tags": [
    {
      "createdAt": "2024-11-19T03:08:06.146Z",
      "updatedAt": "2024-11-19T03:08:06.146Z",
      "id": "zmiLz0ZrQJaT4QMQ",
      "name": "Nostr"
    }
  ]
}