Working/Nostr_Push_Notify_Mention_v0_3___Rod_Fishburners_Lightwork_Jonny.json
{
  "name": "Nostr Push Notify Mention v0.3 – Rod Fishburners Lightwork Jonny",
  "nodes": [
    {
      "parameters": {},
      "id": "6994256a-bbaf-4ba4-a8ae-2e5a6e8b05ff",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "1c9417de-b8d2-4e03-a473-9b55576e6316",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        300,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "402b5cc0-0a6c-457a-9389-e734bc7475b6",
              "name": "ownerPushoverUserKey",
              "value": "uczzjn1g5mah35kmxg98vnb19qc1fj",
              "type": "string"
            },
            {
              "id": "09466e7e-dd38-4c48-9061-f6fec8c1f8cf",
              "name": "relays",
              "value": "wss://relay.rodbishop.nz/inbox, wss://relay.damus.io, wss://nostrelites.org, wss://relay.nostr.band, wss://relay.lightwork.space",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ddcf155-e768-4d45-9893-5d083e512ba5",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {},
      "id": "f48e79d3-75eb-4e4c-9696-f7300294fc58",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2580,
        460
      ],
      "webhookId": "a7ee9cfc-beb5-42aa-a3c1-38ce31e61061"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab21427e-edd7-4069-8433-2073515b8c0f",
              "leftValue": "={{ $json.pubkey }}",
              "rightValue": "={{ $('Transform Mention Key').item.json.output }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ea341a6-da68-49d1-ba3c-ad4d2dacbe07",
      "name": "Is Written by Owner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        320
      ]
    },
    {
      "parameters": {},
      "id": "7ca3d91c-d817-47d6-aaac-da469e304aff",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        460
      ]
    },
    {
      "parameters": {
        "operation": "transformKey",
        "relayhints": "={{ $json.relays }}",
        "transformTo": "hexpubkey",
        "transformInput": "={{ $json.npub }}"
      },
      "id": "6b0eea61-9319-4ea9-aa7c-2c0bfa91fb1e",
      "name": "Transform Mention Key",
      "type": "n8n-nodes-nostrobots.nostrobotsutils",
      "typeVersion": 1,
      "position": [
        1480,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "357acad2-ae69-4f8c-81a9-524c822ae8c4",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a9b2d27-fcae-493e-849f-6955bbb2543c",
      "name": "Mention Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        320
      ]
    },
    {
      "parameters": {
        "userKey": "={{ $('Set Variables').first().json.ownerPushoverUserKey }}",
        "message": "={{ $('Is Written by Owner?').item.json.content }}",
        "priority": 0,
        "additionalFields": {
          "title": "=Mention {{ $('Loop Over Npubs').item.json.name }}",
          "url": "=nostr:{{ $json.nevent }}"
        }
      },
      "id": "487cf9c0-4ff9-4754-9f2d-577018d84870",
      "name": "Push Notify",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        2580,
        200
      ],
      "credentials": {
        "pushoverApi": {
          "id": "xr7fQBwzRU3vhSAO",
          "name": "Pushover App Nostr @rodbishop"
        }
      }
    },
    {
      "parameters": {},
      "id": "3ef4f43e-2245-46d6-884b-724e981180f2",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2580,
        -40
      ]
    },
    {
      "parameters": {
        "strategy": "mention",
        "mention": "={{ $('Loop Over Npubs').item.json.npub }}",
        "from": 10.1,
        "unit": "minute",
        "relay": "={{ $('Set Variables').item.json.relays }}"
      },
      "id": "c77fb801-ec78-4bc3-82ff-7a0f01a36c67",
      "name": "Read Mentions",
      "type": "n8n-nodes-nostrobots.nostrobotsread",
      "typeVersion": 1,
      "position": [
        1700,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Nostr Mentions Push Notifications\n\nThis workflow triggers a push notification if any of the listed accounts are Mentioned on Nostr–\n\n- If Npub is Mentioned in a Note,\n- We push a notification into Pushover,\n- We run this workflow periodically or if triggered.\n\n## Requirements\n\nTo use this workflow we need–\n\n- [Nostrobots Community Nodes](https://github.com/ocknamo/n8n-nodes-nostrobots/tree/main), by [Ocknamo](https://njump.me/npub1y6aja0kkc4fdvuxgqjcdv4fx0v7xv2epuqnddey2eyaxquznp9vq0tp75l) \n- Credentials for N8N: Nostr, and Pushover,\n- Workflow variables set in the Set Variables Node: Owners Pushover Key, Relays.\n- The list of npubs to watch for Mentions set in the Set Npubs Node,\n- The Set Npubs Node takes an array in the form below. Add as many entries as you like, make sure to comma separate them, and make sure to omit the comma from the last entry.\n\n[\n  { \"name\": \"Name 1\", \"npub\": \"npub11...\" },\n  { \"name\": \"Name 2\", \"npub\": \"npub12...\" },\n  { \"name\": \"Name 3\", \"npub\": \"npub13...\" }\n]\n",
        "height": 948.5944839766545,
        "width": 674.3250806992273,
        "color": 6
      },
      "id": "c54ade70-18b1-4a94-8d72-9c8f1946d988",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -266
      ]
    },
    {
      "parameters": {
        "content": "## Run for Each Npub  \nFor each npub we run the loop, \n\n- collect all mentions, \n- remove instances where the owner mentions themselves, \n- then push notify with a nostr: link. \n- We pause between loops so as not to hit relay rate-limits.",
        "height": 810.9202197999982,
        "width": 1837.225819404794
      },
      "id": "509452b6-f6ba-4103-897b-f63ca7c95f7b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        948.1908281708713,
        -129.15108597157268
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "mentions",
        "options": {}
      },
      "id": "c40e5703-19cf-422e-ac31-169b352f5ddd",
      "name": "Split Out Npubs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1020,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acc0399d-d7f0-4f02-8a24-17cd5978c68c",
      "name": "Loop Over Npubs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        320
      ]
    },
    {
      "parameters": {
        "convertOutput": "nevent",
        "event": "={\n  \"id\": \"{{ $json.id }}\",\n  \"pubkey\": \"{{ $json.pubkey }}\",\n  \"created_at\": {{ $json.created_at }},\n  \"content\": \"\"\n}",
        "relayhints": "={{ $('Set Variables').first().json.relays }}"
      },
      "id": "5f6cbb86-7108-454c-bbc8-dd750b6e778d",
      "name": "Transform ID to Nevent",
      "type": "n8n-nodes-nostrobots.nostrobotsutils",
      "typeVersion": 1,
      "position": [
        2380,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b736ddfd-ab9d-4c7a-88cf-5ed30d9ca022",
              "name": "mentions",
              "value": "[\n  { \"name\": \"Rod\", \"npub\": \"npub1r0d8u8mnj6769500nypnm28a9hpk9qg8jr0ehe30tygr3wuhcnvs4rfsft\" },\n  { \"name\": \"Fishburners\", \"npub\": \"npub1f8urnh9lfsvy3jrck3ct387clx7n99rsttn2pm3tqdacdxypu7nqu82suv\" },\n  { \"name\": \"Lightwork\", \"npub\": \"npub1pznk7yzg5drq7dzc7rxc0k65fdqkwuw3rzxggrh65u5ap4skk7fq4tha5d\" },\n  { \"name\": \"Jonny (AI Assistant)\", \"npub\": \"npub1ahjpx53ewavp23g5zj9jgyfrpr8djmgjzg5mpe4xd0z69dqvq0kq2lf353\" }\n]\n",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b6226592-87ef-4849-942f-cabeb45e4970",
      "name": "Set Npubs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Set Npubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Npubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Written by Owner?": {
      "main": [
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform ID to Nevent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Complete": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Mention Key": {
      "main": [
        [
          {
            "node": "Read Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mention Exists?": {
      "main": [
        [
          {
            "node": "Is Written by Owner?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Notify": {
      "main": [
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Mentions": {
      "main": [
        [
          {
            "node": "Mention Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Npubs": {
      "main": [
        [
          {
            "node": "Loop Over Npubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Npubs": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform Mention Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform ID to Nevent": {
      "main": [
        [
          {
            "node": "Push Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Npubs": {
      "main": [
        [
          {
            "node": "Split Out Npubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c31ce31d-79e7-4b6b-8a8e-8f2a95ba3bf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116b49d6f3394f8a5d690ef016c12ee9efff737700b050bfcafac43155fb279c"
  },
  "id": "3j2GZ4QGHBEQ24ZY",
  "tags": [
    {
      "createdAt": "2024-11-27T02:53:19.906Z",
      "updatedAt": "2024-11-27T02:53:19.906Z",
      "id": "BJR0Pl8nE9vEujFS",
      "name": "Experiment"
    },
    {
      "createdAt": "2024-11-19T03:08:06.146Z",
      "updatedAt": "2024-11-19T03:08:06.146Z",
      "id": "zmiLz0ZrQJaT4QMQ",
      "name": "Nostr"
    }
  ]
}